<%- include('partials/header') %>
<section>
  <h2>Sobre Mim</h2>
  <p>Sou estudante de Tecnologia em Sistemas para Internet no IFB (5º semestre). Gosto de desenvolver soluções criativas com tecnologias como Node.js, React Native, Flutter, entre outras. Tenho espírito de liderança e gosto de trabalhar em equipe!</p>
</section>
<%- include('partials/footer') %>
