<%- include('partials/header') %>
<section>
  <h2>Contato</h2>
  <p>Você pode me encontrar em:</p>
  <ul>
    <li>Email: <a href="mailto:thaisvitoria7@gmail.com">thaisvitoria7@gmail.com</a></li>
    <li>GitHub: <a href="https://github.com/">github.com/who1sthais</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/tha%C3%ADssilva3/">linkedin.com/in/thaíssilva3/</a></li>
  </ul>
</section>
<%- include('partials/footer') %>
