<%- include('../partials/header') %>

<main class="container mt-5">
  <h1>Projeto Clínica</h1>
  <p>Sistema de gerenciamento para clínicas, feito em sala de aula com intuito de aprender mais sobre CRUD, (Create, Read, Update, Delete)</p>
  <p>Como o projeto está hospedado localmente pelo XAMPP, optei por adicionar um vídeo breve demonstrando o funcionamento do site. Essa escolha tem o objetivo de mostrar de forma clara que a aplicação possui conexão com o banco de dados. 
    Ao realizar o cadastro, os dados inseridos, apagados ou atualizados são verificados.</p>
  <ul>
    <li>🔧 Tecnologias: Node.js, EJS, Express, MySQL</li>
    <li>🏥 Público-alvo: Clínicas de pequeno porte</li>
  </ul>
  <video width="100%" controls>
    <source src="/videos/clinica-demo.mp4" type="video/mp4">
    Seu navegador não suporta vídeo.
  </video>
</main>

<%- include('../partials/footer') %>
