<%- include('../partials/header') %>

<main class="container mt-5">
  <h1>Projeto IntegraIF</h1>
  <p>O IntegraIF é uma plataforma desenvolvida com o objetivo de integrar os serviços internos do Instituto Federal de Brasília (IFB), como avisos acadêmicos, calendário, 
    atendimento estudantil e muito mais.</p>
  <p>Como o projeto está hospedado localmente pelo XAMPP, optei por adicionar um vídeo breve demonstrando o funcionamento do site. Essa escolha tem o objetivo de mostrar de forma clara que a aplicação possui conexão com o banco de dados. 
    Ao realizar o cadastro, os dados inseridos são verificados, garantindo que estejam corretos antes de permitir o login do usuário.</p>
  <ul>
    <li>🔧 Tecnologias: Node.js, EJS, Express, Bootstrap</li>
    <li>👥 Público-alvo: Estudantes e servidores do IFB</li>
  </ul>
  <video width="100%" controls>
    <source src="/videos/integraif-demo.mp4" type="video/mp4">
    Seu navegador não suporta vídeo.
  </video>
  
</main>

<%- include('../partials/footer') %>
